.barra1 {
    background-color: antiquewhite;
    height: 30px;
    margin-bottom: 20px;
   
}
.barra2 {
    background-color: antiquewhite;
    height: 30px;
    margin-bottom: 20px;
    justify-content: center;
}
.barra3 {
    background-color: antiquewhite;
    height: 30px;
    margin-bottom: 20px;
}
.barra4 {
    background-color: antiquewhite;
    height: 30px;
    margin-bottom: 20px;
}
.barra5 {
    background-color: antiquewhite;
    height: 30px;
    margin-bottom: 20px;
}
.barra6 {
    background-color: antiquewhite;
    height: 30px;
    margin-bottom: 20px;
}
.quadrado1 {
    background-color: brown;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.quadrado2 {
    background-color: blue;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.quadrado3 {
    background-color: blueviolet;
    width: 30px;
    height: 30px;
    display: inline-block;
}.quadrado4 {
    background-color: green;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.barra2 .quadrado1 {
    background-color: brown;
    width: 30px;
    height: 30px;
    display: inline-block;
    justify-content: center;
}
.barra2 .quadrado2 {
    background-color: blue;
    width: 30px;
    height: 30px;
    display: inline-block;
    justify-content: center;
}
.barra2 .quadrado3 {
    background-color: blueviolet;
    width: 30px;
    height: 30px;
    display: inline-block;
    justify-content: center;
}
.barra2 .quadrado4 {
    background-color: green;
    width: 30px;
    height: 30px;
    display: inline-block;
    justify-content: center;
}
